<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='home'>home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  routerLink="produit">produit</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" routerLink="client">Nos Client</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Mike Candaten
    <a href="https://www.linkedin.com" target="_blank" class="text-reset"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>