nav{
    font-size: 1.5rem;
    text-align:center;
    margin:auto;

}


nav>*{
    text-align:center;
    margin:auto;
}

nav>*>*{
    text-align:center;
    margin:auto;
}
footer{
    text-align:center;
}
